.posts {
  margin-top: 40px;
}

.post {
  background-color: var(--secondary-color);

  border-radius: 5px;

  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);

  margin-bottom: 40px;
}

._skelet-app .post {
  width: 100%;
  min-height: 606px;
}

.post__picture {
  width: 100%;

  background-color: var(--placeholder-color);
}

._skelet-app .post__picture {
  height: 400px;
}

.post__body {
  padding: 25px 30px 18px;
}

._skelet-app .description-post {
  margin-bottom: 25px;
}

._skelet-app .description-post__title {
  margin-bottom: 25px;
  width: 700px;
  height: 30px;

  border-radius: 15px;

  background-color: var(--placeholder-color);
}

._skelet-app .description-post__text {
  height: 90px;

  border-radius: 15px;

  background-color: var(--placeholder-color);
}
