@import '../../style/variables';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  width: 100%;
  height: 100%;

  background-color: rgba($black, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  &-open {
    opacity: 1;
    visibility: visible;
  }

  &-content {
    position: relative;

    background-color: $secondary_color;

    border-radius: 5px;

    padding-top: 90px;
  }

  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
  }

  &-form {
    padding: 0 80px 25px;

    &__inputs {
      display: flex;
      flex-direction: column;
    }

    &__input {
      width: 440px;

      margin-bottom: 35px;
    }
  }

  &-list {
    display: flex;

    padding: 0 130px 80px;
  }

  &-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-close-popup {
  position: relative;

  width: 30px;
  height: 30px;

  background-color: transparent;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $white;
  }

  &:before {
    transform-origin: center;
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.contacts-popup-form {
  margin-top: 50px;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    font-size: 16px;

    &:last-child {
      margin-top: 0;
    }

    a {
      text-decoration: underline;
    }
  }
}
