.addpost-form {
  width: 100%;
  margin-top: adaptive-value(40, 20);
  box-shadow: 0 15px 25px rgba($black, 0.45);

  ._skelet-app & {
    border-radius: 15px;
    height: 90px;
    background-color: $placeholder_color;
  }
}
