body {
  @include font($defaultFontFamily);
  background-color: $primary_color;
  color: $white;
}

.app {
  width: 100%;

  max-height: 100vh;
  overflow: hidden;

  &__inner {
    width: 100%;

    display: flex;
  }

  &-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 45px);
    margin: 45px 0 0;
    padding-top: adaptive-value(60, 30);
    overflow: hidden auto;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding-right: adaptive-value(25, 15);
  padding-left: adaptive-value(25, 15);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  @include font($defaultFontFamily);

  color: $white;
}

input {
  @include font($defaultFontFamily);

  color: $white;
}

button {
  @include font($defaultFontFamily);
  background-color: transparent;

  color: $white;
}

.primary-title {
  @include adaptive-value('font-size', 23, 15, 0);
  line-height: 21px;
}

.primary-text {
  @include adaptive-value('font-size', 17, 13, 0);
  @include adaptive-value('line-height', 24, 20, 0);
}

.primary-time {
  @include adaptive-value('font-size', 14, 12, 0);

  color: $gray;
}

.title-route {
  font-size: 25px;

  margin-bottom: 40px;
}

.primary-input {
  background-color: transparent;

  font-size: 18px;
  // line-height: 16px;

  padding-bottom: 10px;

  border-bottom: 1px solid $border_input_color;

  transition: all 0.2s ease;

  &:focus {
    border-bottom: 1px solid $secondary_blue;
  }
}

.primary-blue-btn {
  padding: 13px 17px;

  font-size: 17px;
  // line-height: 14px;

  background-color: $blue;

  box-shadow: 0 4px 15px -7px rgba($blue, 0.3);

  border-radius: 5px;

  transition: all 0.3s ease;

  &:focus,
  &:hover {
    background-color: darken($blue, 5%);
  }
}
