body {
  background-color: var(--primary_color);
}

.app {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
}

.app__inner {
  width: 100%;

  margin-left: 400px;
}

.app-content {
  padding-top: calc(60px + 40px);
  padding-bottom: 80px;
}

._container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
