.stories {
  overflow-y: auto;
}

.stories__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: adaptive-value(20, 10);
}

.item-stories {
  background-color: $placeholder_color;
  filter: drop-shadow(0px 5px 15px rgba($black, 0.2));

  ._skelet-app & {
    width: 230px;
    height: 320px;
    border-radius: 15px;
  }
}
