@import '../../style/variables';
@import '../../style/mixin';

.post {
  background-color: $secondary_color;

  border-radius: 5px;

  box-shadow: 0 15px 25px rgba($black, 0.35);

  &-overhead {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: adaptive-value(20, 15);

    > a,
    button {
      font-size: adaptive-value(15, 13);
      color: rgba($white, 0.6);

      transition: all 0.3s ease;

      @media (min-width: $md2 + px) {
        &:hover {
          color: $white;
        }
      }
    }

    &__share {
      position: relative;
      background-color: transparent;

      padding-right: adaptive-value(32, 27);

      &:after {
        content: '';

        position: absolute;
        right: 0;
        top: 50%;

        width: adaptive-value(25, 20);
        height: adaptive-value(25, 20);

        background: url('../../images/Post/share.svg') center no-repeat;
        background-size: cover;

        transform: translate(0, -50%);
      }
    }
  }

  &__inner {
    padding: adaptive-value(20, 15) adaptive-value(30, 15) adaptive-value(42, 0);
  }

  &-title {
    font-weight: 600;
    font-size: adaptive-value(16, 14);
    line-height: adaptive-value(19, 17);

    margin-bottom: adaptive-value(19, 17);
  }

  &-header {
    margin-bottom: adaptive-value(30, 15);

    &__title {
      font-weight: 500;

      margin-bottom: adaptive-value(15, 10);
    }
  }

  &-text {
    p {
      margin: adaptive-value(25, 20) 0;
    }
  }

  &-player {
    position: relative;

    width: 100%;
    min-height: 340px;
    height: 500px;

    background-color: $secondary_color;
  }

  &-picture {
    width: 100%;
    min-height: adaptive-value(340, 98);

    background-color: $gray;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &-extrainfo {
    &:after,
    &:before {
      content: '';

      display: inline-block;

      width: 100%;
      height: 1px;

      background-color: $border_color;
    }

    &:before {
      margin: adaptive-value(20, 10) 0 adaptive-value(40, 25);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: block;

      max-width: adaptive-value(290, 214);

      overflow: hidden;

      margin-right: 35px;

      &:nth-child(5n - 2) {
        margin-right: 0;
      }

      &:nth-child(-n + 3) {
        margin-bottom: adaptive-value(24, 15);
      }
    }

    &__link {
      display: inline-block;

      white-space: nowrap;

      font-size: adaptive-value(17, 13);

      color: $yellow;

      margin-bottom: adaptive-value(8, 5);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.player-post {
  position: relative;

  width: 100%;
  min-height: adaptive-value(340, 140);

  background-color: $secondary_color;

  &__video {
    video {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.info-post-header {
  &__date {
    &:not(:last-child):after {
      content: '';

      display: inline-block;

      width: 7px;
      height: 7px;

      border-radius: 50%;

      margin: 0 adaptive-value(15, 10) 1px;

      background-color: $elemnt_color;
    }
  }

  &__tag {
    font-size: 14px;
    color: $gray;

    cursor: pointer;

    color: $gray;

    transition: all 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: $primary_text_color;
    }
  }
}
