@import '../../style/variables';

.nav-header {
  &__link {
    display: block;

    font-size: 14px;

    padding: 15px 15px 16px 17px;

    transition: all 0.3s ease;

    @media (min-width: $md2 + px) {
      &:hover {
        background-color: $blue;
      }
    }
  }
}

.item-header-nav {
  position: relative;

  transition: all 0.3s ease;

  .nav-header__link {
    &:after {
      content: '';

      display: inline-block;

      margin-left: 12px;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 6px 5px;
      border-color: transparent transparent $white transparent;

      transition: all 0.3s ease;
    }
  }

  &:hover {
    background-color: $blue;

    .nav-header__link {
      &:after {
        transform: rotate(180deg);
      }
    }

    .submenu-nav-header {
      opacity: 1;
      visibility: visible;
    }
  }
}

.submenu-nav-header {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;

  min-width: 100%;

  background-color: $blue;

  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 5px 5px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  &__list {
    padding: 10px 35px 12px 17px;
  }

  &__link {
    position: relative;

    display: inline-block;

    font-size: 15px;
    // line-height: 14px;

    white-space: nowrap;

    padding: 7px 0;

    &:after {
      content: '';

      position: absolute;
      bottom: 3px;
      left: 0;

      background-color: $white;

      width: 100%;
      height: 1px;

      transform: scale(0);

      transition: all 0.2s ease;
    }

    @media (min-width: $md2 + px) {
      &:hover {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}

.form-header {
  position: relative;

  width: 100%;

  height: 100%;

  &__search {
    width: 100%;

    background-color: $secondary_color;

    height: inherit;

    border-radius: 0;

    padding: 0 20px;

    font-size: 15px;

    &::placeholder {
      // line-height: 14px;

      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.submenu-form-header {
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 100%;

  background-color: $secondary_color;

  border-radius: 0 0 5px 5px;

  box-shadow: 0 6px 8px rgba($black, 0.2);

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  &-show {
    opacity: 1;
    visibility: visible;

    transition-duration: 0.5s;
  }

  &__item {
    &.error {
      display: inline-block;
      padding: 8px 0;
      white-space: nowrap;
    }
  }

  &__list {
    padding: 15px 40px 20px 20px;

    font-size: 16px;
  }

  &__link {
    position: relative;

    display: inline-block;

    padding: 11px 0;

    white-space: nowrap;

    &:after {
      content: '';

      position: absolute;
      bottom: 6px;
      left: 0;

      background-color: $white;

      width: 100%;
      height: 1px;

      transform: scale(0);

      transition: all 0.3s ease;
    }

    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }
}
