@import '../../style/variables';
@import '../../style/mixin';

.form-header {
  position: relative;

  flex: 0 1 adaptive-value(400, 200);

  height: 100%;

  &__search {
    width: 100%;

    background-color: $secondary_color;

    height: inherit;

    border-radius: 0;

    padding: 0 20px;

    font-size: 15px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.submenu-form-header {
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 100%;

  background-color: $secondary_color;

  border-radius: 0 0 5px 5px;

  box-shadow: 0 6px 8px rgba($black, 0.2);

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  &-show {
    opacity: 1;
    visibility: visible;

    transition-duration: 0.5s;
  }

  &__item {
    &.error {
      display: inline-block;
      padding: 8px 0;
      white-space: nowrap;
    }
  }

  &__list {
    padding: 15px adaptive-value(40, 20) adaptive-value(20, 15) 20px;

    font-size: 16px;
  }

  &__link {
    position: relative;

    display: inline-block;

    padding: 11px 0;

    white-space: nowrap;

    &:after {
      content: '';

      position: absolute;
      bottom: 6px;
      left: 0;

      background-color: $white;

      width: 100%;
      height: 1px;

      transform: scale(0);

      transition: all 0.3s ease;
    }

    @media (min-width: $md2 + px) {
      &:hover {
        &:after {
          transform: scale(1);
        }
      }
    }
  }
}
