// Fonts
$defaultFontFamily: 'Roboto';

// Resolutions
$maxWidthContainer: 1050;
$maxWidth: 1920;

// Media queries
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Colors
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #3137c9;
$gray: #828282;
$orange: #ea8c1e;
$yellow: #f3eba2;
$primary_color: #181818;
$secondary_color: #202020;
$header_bg_color: #0d0d0d;
$form_bg_color: #121212;
$bxs_color: #050505;
$primary_text_color: #d2d2d2;
$secondary_text_color: #dedede;
$border_color: #1c1c1c;
$secondary_blue: #107eff;
$elemnt_color: #c4c4c4;
$border_input_color: #3f3f3f;
$placeholder_color: #333333;
