@import '../../style/variables';
@import '../../style/mixin';

.addpost-form {
  position: relative;

  display: inline-block;

  border-radius: 5px;

  background-color: $form_bg_color;

  min-height: 74px;

  &__textarea {
    width: 100%;

    ._focused & {
      margin-bottom: 60px;
    }

    transition: all 0.2s ease;
  }
}

.textarea-addpost {
  resize: none;

  background-color: transparent;

  width: 100%;
  // height: adaptive-value(95, 70);

  color: $secondary_text_color;

  font-size: adaptive-value(17, 14);
  line-height: adaptive-value(24, 20);

  padding: adaptive-value(35, 25);

  &::placeholder {
    color: $secondary_text_color;
  }
}

.input-fileloader-addpost {
  display: none;
}

.buttons-addpost {
  position: absolute;
  bottom: 24px;
  right: 14px;

  display: flex;
  justify-content: flex-end;

  opacity: 0;
  visibility: hidden;

  ._focused & {
    opacity: 1;
    visibility: visible;
  }

  transition: all 0.2s ease;

  &__btn {
    width: adaptive-value(50, 35);
    height: adaptive-value(50, 35);

    border-radius: 50%;
  }

  &__item {
    margin: 0 7.5px;
  }
}

.btn-fileloader {
  cursor: pointer;

  background-color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-send {
  background-color: $blue;
  padding-left: 4px;
}
