<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="ie=edge" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="stylesheet" href="style/skelet-styles.css" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <title>Pepe personal blog</title>
  </head>
  <body>
    <div id="app" class="app">
      <aside class="sidebar skelet-sidebar">
        <div class="sidebar__inner">
          <div class="sidebar-picture"></div>
          <div class="head-sidebar">
            <div class="head-sidebar__avatar"></div>
            <div class="info-head-sidebar"></div>
            <div class="contacts-head-sidebar">
              <ul class="contacts-head-sidebar__list">
                <li class="contacts-head-sidebar__item"></li>
                <li class="contacts-head-sidebar__item"></li>
                <li class="contacts-head-sidebar__item"></li>
              </ul>
            </div>
          </div>
          <div class="sidebar-description">
            <p></p>
          </div>
          <div class="controls-sidebar">
            <div class="controls-sidebar__item"></div>
            <div class="controls-sidebar__item"></div>
          </div>
        </div>
      </aside>
      <header class="header skelet-header">
        <div class="header__inner">
          <div class="header__right">
            <nav class="nav-header">
              <ul class="nav-header__list">
                <li class="nav-header__item"></li>
                <li class="nav-header__item"></li>
                <li class="nav-header__item"></li>
                <li class="nav-header__item"></li>
              </ul>
            </nav>
          </div>
          <div class="header__left">
            <nav class="nav-header">
              <ul class="nav-header__list">
                <li class="nav-header__item"></li>
              </ul>
            </nav>
            <form action="/" class="form-header"></form>
          </div>
        </div>
      </header>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
