:root {
  --secondary-color: #202020;
  --bxs-color: #050505;
  --border-color: #1c1c1c;
  --gray: #828282;
  --secondary-text-color: #dedede;
  --red: #ed3024;
  --blur: #3137c9;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 400px;
  height: 100vh;

  background-color: var(--secondary-color);

  box-shadow: 5px 0 15px rgba(var(--bxs-color), 0.1);
}

.sidebar__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.sidebar-picture {
  width: 100%;
  min-height: 240px;

  background-color: var(--secondary-color);
}

.sidebar-picture img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.sidebar-description {
  padding: 0 30px;
}

.sidebar-description p {
  font-size: 16px;
  line-height: 24px;
}

.sidebar-description::after {
  content: '';
  display: block;

  width: 100%;
  height: 1px;

  margin: 35px 0;

  background-color: var(--border-color);
}

.head-sidebar {
  width: 100%;

  padding: 0 30px;
  margin-top: -65px;
}

.header-sidebar__avatar {
  max-width: 150px;
  max-height: 150px;

  min-width: 150px;
  min-height: 150px;

  border-radius: 50%;

  background-color: var(--gray);

  margin: 0 auto 19px;
}

.head-sidebar::after {
  content: '';
  display: block;

  width: 100%;
  height: 1px;

  margin: 35px 0;

  background-color: var(--border-color);
}

.header-sidebar__avatar img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.info-head-sidebar {
  margin-bottom: 30px;
}

.info-head-sidebar__name {
  margin-bottom: 8px;
}

.info-head-sidebar__subname {
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;

  color: var(--secondary-text-color);
}

.contacts-head-sidebar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-head-sidebar__item {
  margin: 0 10px;

  width: 35px;
  height: 35px;
}

.contacts-head-sidebar__link img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.controls-sidebar {
  width: 100%;

  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls-sidebar__btn {
  font-size: 17px;

  padding: 15px 25px;

  border-radius: 25px;
}

.red-btn {
  background-color: var(--red);
  box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);

  transition: all 0.3s ease;
}

.blue-btn {
  background-color: var(--blur);
  box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);

  transition: all 0.3s ease;
}
